# ========================
# DATA (ML PROJECT)
# ========================
train.csv
*.csv
data/
models/

# ========================
# PYTHON
# ========================
__pycache__/
*.py[cod]
*.so
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# ========================
# BUILD / PACKAGING
# ========================
build/
dist/
*.egg-info/
.eggs/

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# LOGS
# ========================
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/